/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* custom css start here */

#djcustom-footer .header-Phone .fl-rich-text > p{
	margin: 0px!important;
}
.display_none{display:none;}
.gfield_time_ampm select{
	min-width: 60px!important;
    width: 60px!important;
}

.gfield input[type=text]{
	width: 100%!important;
}

.gfield{
	padding-right: 15px!important;
}
#responsive-menu-additional-content{
	    padding: 5px 5%!important;
}
#responsive-menu-additional-content a{
	color: #fff!important;
}
#responsive-menu-search-box{
	padding: 18px 5%!important;
}

.facet_filters strong {
    color: #c68c22!important;
}
button#responsive-menu-button {
    width: 40px!important;
    height: 40px!important;
}
/* custom css start here */



/*------------------TOP BAR STYLES ------------------*/

ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: #F9F9F8;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul.social-icons{
  text-align: center;
}
ul#topbar li a:hover {
  color: #414042;
}

/* .product-grid .fl-button{
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}
.product-grid .fl-button span{
  color: #ffffff !important;
}
.product-grid .fl-button:hover{
  background-color: transparent !important;
}
.product-grid .fl-button:hover span{
  color: #a4774f !important;
} */

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select{
  width: 60px!important;
  max-width: 60px!important;
}

.gform_wrapper .gfield_time_hour i{
  margin-top: -2px!important;
}

/* input#gform_submit_button_3,
.product-grid .fl-button{
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}
input#gform_submit_button_3,
.product-grid .fl-button span{
  color: #ffffff !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover{
  background-color: transparent !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover span{
  color: #a4774f !important;
} */

form select{
  padding: 6px 0px !important;
}
.button-wrapper-default a:hover{
  background: #FFB734;
  border: 2px solid #FFB734;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, 
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, 
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover, 
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
  color: #dea53d;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],.gform_wrapper ul.gfield_radio li input[type=radio]{
  margin-top: 3px!important;
  vertical-align: top!important;
}
.fl-page-nav-right .fl-page-nav-wrap a:hover, 
.fl-page-nav-right .fl-page-nav-wrap a:focus, 
.fl-page-nav-right .fl-page-nav-wrap a:hover *, 
.fl-page-nav-right .fl-page-nav-wrap a:focus *, 
.fl-page-nav-right .fl-page-nav-wrap a.fas:hover, 
.fl-page-nav-right .fl-page-nav-wrap a.fab:hover, 
.fl-page-nav-right .fl-page-nav-wrap a.fas:focus, 
.fl-page-nav-right .fl-page-nav-wrap a.fab:focus {
  color: #dea53d;
}
.fl-page-nav-search form{
      border-top: 3px solid #dea53d;
}
.uabb-gf-style .gform_wrapper .gfield_checkbox li label, .uabb-gf-style .gform_wrapper .gfield_radio li label{
  vertical-align: top;
}
.storename .phone a span:before{
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
	 font-size: 19px!important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;

}



.header-Phone .storename .phone a span:before{
  margin-right: 15px !important;
}


.store-opening-hrs{
  padding-left: 0px !important;
  list-style: none;
}

.storename .store-opening-hrs li{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
  width: 100%;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
  padding-right: 15px;
}

/*------------------END TOP BAR STYLES ------------------*/

@media (max-width:1024px) {
	
.style-product_list .pro-container .row .col-md-7{
	width: 100%!important;
	min-height: 400px!important;
}
  ul#topbar li a{
    font-size: 11px;
    padding: 5px;
  }

  .fl-page-nav .navbar-nav li>a{
      padding: 15px 8px;
      font-size: 13px;
  }
}

@media (max-width:992px) {
	
.fl-page-header-wrap .fl-page-header-container{
    padding: 10px 20px!important;
}

button#responsive-menu-button {
    width: 40px;
    height: 40px;
}
  ul#topbar > li:last-child{
    display: block!important;
  }
  .social-icons-container{
    text-align: center;
  }
  .fl-button span.fl-button-text{
    color: #fff;
  }

  .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]{
    width: auto!important;
    color: #fff;
  }
}
@media(min-width:768px){
  .fl-page-header-primary .fl-logo-img {
      max-width: 300px !important;
  }

	
}
@media(max-width:768px){
.fl-slide .fl-slide-foreground {
	    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fl-slide .fl-slide-foreground .fl-slide-content{
	background-color: transparent!important;
}
.max-width-issue{
	margin: 0px auto;
	max-width: 360px !important;
    
}	

.max-width-issue_two img{
	margin: 0px auto;
	max-width: 360px !important;
    
}		
.fl-page-header-logo {
    text-align: left!important;
}
	button#responsive-menu-button {
    top: 22px!important;
}
}
@media(max-width:767px){
	.search-row .product-grid{
	padding: 0px 20px!important;
}

	button#responsive-menu-button {
    top: 10px!important;
}
  .fl-page-bar .fl-page-bar-row .text-left{
    width: 60%;
    float: left;
  }

  .fl-page-bar .fl-page-bar-row .text-right{
    width: 40%;
    float: right;
  }

  .fl-page-bar .fl-page-bar-row .text-left *{
    text-align: left!important;
  }

  ul#topbar > li:last-child{
    float: right!important;
  }

 .fl-module-heading h1.fl-heading{
    line-height: 48px!important;
  }
}

@media(max-width:450px){
	.max-width-issue_two img{
	margin: 0px auto;
	max-width: 100% !important;
    
}	
  .fl-page-bar .fl-page-bar-row .text-left{
    width: 66%;
    float: left;
    padding: 0px;
  }

  .fl-page-bar .fl-page-bar-row .text-right{
    width: 34%;
    float: right;
    padding: 0px;
  }
  .fl-col-group .boxes-on-mobile-full-width{
    width: 100%!important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width{
    width: 100%!important;
  }
	.fl-page-header-primary .fl-logo-img {
    max-width: 80%!important;
}
	button#responsive-menu-button {
    top: 20px!important;
}
 .page-template-floorte_hardwood h2:nth-child(1){
	padding: 0px 20px!important;
}
}